
@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>
<p>
    This is the home page. It will have announcements 
    About Zoo @DateTime.Now.Year
</p>
<p>
    @Html.ActionLink("About Zoo", "Index", "AboutZoo")
</p>

