@model ZooWebsite.Models.Animals
@{
    Layout = "_Layout";
        }

<h1>Animals page</h1>

<p>This is all about the animals, and will show animals in a partial view so that you can browse the animals</p>
